<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<html>
<head>
<title>OCR标注</title>
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/css/imgzoom.css" />
<link rel="stylesheet" type="text/css" href="/static/css/imgareaselect-default.css" />
<script type="text/javascript" src="/static/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/static/scripts/jquery.imgzoom.pack.js"></script>
<script type="text/javascript" src="/static/scripts/jquery.imgareaselect.pack.js"></script>

{% block header %}{% endblock %}

</head>

<body>
{% block content %}{% endblock %}
</body>
</html>
